body {
  display: flex;
  flex-direction: row;
  color: rgb(117, 35, 6);
}

header {
  width: fit-content;
  font-size: larger;
  background-color: rgb(254, 247, 226);
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

li {
  width: 180px;
  height: 90px;
  background-color: rgb(255, 223, 127);
  border: 1px solid rgb(255, 223, 127);
  border-radius: 50px;
  margin: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(117, 35, 6);
}

#firstButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
.firstButton a {
  display: flex;
}

a {
  display: flex;
  text-decoration: none;
  color: rgb(117, 35, 6);
  align-items: center;
}

#logo {
  width: 50px;
  height: 50px;
  margin-right: 0.25em;
}

/* QUI INIZIA IL MAIN */

main {
  width: auto;
  background-color: rgb(255, 255, 255);
  padding: 1em;
}

#cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  background-color: rgb(254, 247, 226);
  margin-right: 20px;
  margin-bottom: 20px;
}

#card-p-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 1em;
}

#card-p-container span {
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
}

div > p {
  margin-top: 0;
}

div > button {
  width: 60%;
  height: 30px;
  border-radius: 15px;
  margin-bottom: 1em;
  background-color: rgb(255, 223, 127);
  border: 1px solid rgb(255, 223, 127);
}
